@charset "UTF-8";

header{
	width: 100%;
	height: 10%;
	margin-left: 2%;
	margin-right: 5%;
	margin-bottom: 5%;
	border-bottom: solid;
}

#logo{
	float: left;
	padding-left: 5%;
}

#title{
	font-weight: 5em;
	font-style: italic;
	font-family: Georgia, serif;
	margin-bottom: 1.5%;
	padding-left: 15%;
	padding-top: 5%;
}